<footer class="footer">
    <div class="container grid grid--footer">
        <div class="logo-col">
            <a href="#" class="footer-logo">
                <img src="../../assets/img/omnifood-logo.png" alt="Omnifood logo" class="logo">
            </a>
            <ul class="social-links">
                <li>
                    <a href="#" class="footer-link"><TIcon class="social-icon" icon="streamline:instagram"></TIcon></a>
                </li>
                <li>
                    <a href="#" class="footer-link"><TIcon class="social-icon" icon="mingcute:facebook-fill"></TIcon></a>
                </li>
                <li>
                    <a href="#" class="footer-link"><TIcon class="social-icon" icon="ri:twitter-line"></TIcon></a>
                </li>
            </ul>
            <p class="copyright">Copyright &copy; 2027 by Omnifood. All right reserved</p>
        </div>
        <div class="address-col">
            <p class="footer-heading">Contact us</p>
            <address class="contacts">
                <p class="address">
                    623 Harrison St., 2nd Floor, San Francisco, CA 94107
                </p>
                <p>
                    <a class="footer-link" href="tel:415-201-6370">415-201-6370</a><br/>
                    <a class="footer-link" href="mailto:hello@omnifood.com">hello@omnifood.com</a>
                </p>
            </address>
        </div>
        <div class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a href="#" class="footer-link">Create account</a></li>
                <li><a href="#" class="footer-link">Sign in</a></li>
                <li><a href="#" class="footer-link">iOS app</a></li>
                <li><a href="#" class="footer-link">Android app</a></li>
            </ul>
        </div>
        <div class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a href="#" class="footer-link">About Omnifood</a></li>
                <li><a href="#" class="footer-link">For Business</a></li>
                <li><a href="#" class="footer-link">Cooking partners</a></li>
                <li><a href="#" class="footer-link">Careers</a></li>
            </ul>
        </div>
        <div class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a href="#" class="footer-link">Recipe directory</a></li>
                <li><a href="#" class="footer-link">Help center</a></li>
                <li><a href="#" class="footer-link">Privacy & terms</a></li>
            </ul>
        </div>
    </div>
</footer>